.wrapper {
    width: 60%;
    margin: 0 auto;
}
.computer, .choose, .you {
    float: left;
    display: inline-block;
    height: 400px;
    text-align: center;
}
.computer {
    width: 40%;
}
.choose {
    width: 19%;
    margin-top: 200px;
}
.you {
    width: 40%;
}
button {
    margin: 150px 10px 0 0px;
    height: 30px;
    width: 100px;
}

.handshake {
    margin-top: 100px;
    position: relative;
}
.left, .right {
    display: none;
}
.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
