.wrapper {
    width: 60%;
    margin: 0 auto;
}
.computer, .choose, .you {
    float: left;
    display: inline-block;
    height: 400px;
    text-align: center;
}
.computer {
    width: 40%;
}
.choose {
    width: 19%;
    margin-top: 200px;
}
.you {
    width: 40%;
}
.buttons{
    text-align: right;
}
button {
    margin: 0 10px 0 10px;
    height: 30px;
    width: 100px;
}

.handshake {
    margin-top: 100px;
    position: relative;
}
.left, .right {
    display: none;
    margin-top: 100px;
}
.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.shake {
    -webkit-animation: shake 1.5s;
    -moz-animation: shake 1.5s;
    -ms-animation: shake 1.5s;
    animation: shake 1.5s;
}

@-webkit-keyframes shake {
    0%, 100% {-webkit-transform: translateY(0);}
    14%, 43%, 71%, 95%, 100% {-webkit-transform: translateY(30px);
        -webkit-animation-timing-function: ease-out; }
    29%, 57%, 86% {-webkit-transform: translateY(-30px);
        -webkit-animation-timing-function: ease-out}
}
@-moz-keyframes shake {
    0%, 100% {-moz-transform: translateY(0);}
    14%, 43%, 71%, 95%, 100% {-moz-transform: translateY(30px);
        -moz-animation-timing-function: ease-out; }
    29%, 57%, 86% {-moz-transform: translateY(-30px);
        -moz-animation-timing-function: ease-out}
}
@-o-keyframes shake {
    0%, 100% {-o-transform: translateY(0);}
    14%, 43%, 71%, 95%, 100% {-o-transform: translateY(30px);
        -o-animation-timing-function: ease-out; }
    29%, 57%, 86% {-o-transform: translateY(-30px);
        -o-animation-timing-function: ease-out}
}
@-ms-keyframes shake {
    0%, 100% {-ms-transform: translateY(0);}
    14%, 43%, 71%, 95%, 100% {-ms-transform: translateY(30px);
        -ms-animation-timing-function: ease-out; }
    29%, 57%, 86% {-ms-transform: translateY(-30px);
        -ms-animation-timing-function: ease-out}
}
@keyframes shake {
    0%, 100% {transform: translateY(0);}
    14%, 43%, 71%, 95%, 100% {transform: translateY(30px);
        animation-timing-function: ease-out; }
    29%, 57%, 86% {transform: translateY(-30px);
        animation-timing-function: ease-out}
}

